{% load lookupattr %}
<table id="{{ table.id }}" class="{{ table.classes }}" width="{{ table.width }}"
       border="{{ table.border }}" cellpadding="{{ table.cellpadding }}"
       cellspacing="{{ table.cellspacing }}">
    <thead>
        <tr>
        {% for name, bound_column in table.bound_columns.items %}
            <th>{{ bound_column.label }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.results %}
        <tr>
            {% for name, bound_column in table.bound_columns.items %}
            <td>{{ row|lookupattr:bound_column.display_field }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#{{ table.id }}').dataTable({{ table.js_options }});
});
</script>